@media screen and (max-width: 688px) {
  body {
    width: 100%;
  }
  .header {
    margin-top: 34px;
    padding-left: 2%;
    padding-right: 2%;
  }
  .nav-header {
    font-size: 16px;
    flex-direction: row-reverse;
    text-align: center;
    width: 100%;
    justify-content: space-between;
  }
  .nav-header-bar {
    display: block;
  }
  .nav-links ul {
    display: none;
  }
  /* ---------
  journey styles
  ----------- */
  .journey-container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .journey-details,
  .journey-thumbnail {
    width: 100%;
  }
  .journey-thumbnail img {
    height: 257px;
    width: 257px;
  }
  .journey-article {
    margin-top: 14px;
  }
  .journey-article h1 {
    font-size: 28px;
    text-align: center;
  }
  .journey-article p {
    font-size: 14px;
    text-align: center;
  }
  .journey-article a {
    display: block;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  /* ------------------------------------------------
influencers logo styles
-----------------------------------------------
 */
  .influencers-logo {
    flex-wrap: wrap;
    display: block;
  }
  .logo-item1 img,
  .logo-item2 img {
    width: 10%;
    padding-left: 0px;
    padding-right: 0px;
  }
  /* -----------------------------------------
populer section styles
-------------------------------------------- */
.collections-container{
  grid-template-columns: repeat(1,1fr);
}
.item-img{
  width: 100%;
}
.collections-section{
  margin-top: 50px;
}
}
