@media screen and (max-width: 688px) {
  body {
    width: 100%;
  }
  .header {
    margin-top: 34px;
    padding-left: 2%;
    padding-right:2% ;
  }
  .nav-header {
    font-size: 16px;
    flex-direction: row-reverse;
    text-align: center;
    width: 100%;
    justify-content: space-between;
}
.nav-header-bar {
    display: block;
  }
  .nav-links ul {
    display: none;
  }
}
