/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}

/* -------------------------------------
header section starts here
---------------------------------------- */
.header {
  margin-top: 77px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #3a3a3a;
}
.nav-header a {
  text-decoration: none;
  color: #3a3a3a;
}
.nav-header-bar {
  display: none;
}
.nav-links {
  display: flex;
}
.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav-links ul li {
  padding-left: 34px;
}
.nav-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
}
.nav-links a:hover {
  color: red;
}
/* ---------------------------------------
Journey as influencer styles
----------------------------------------- */
main {
  margin-top: 50px;
}
.journey-container {
  display: flex;
  align-items: center;
}
.journey-details,
.journey-thumbnail {
  width: 50%;
}
.journey-thumbnail {
  display: flex;
  justify-content: center;
}
.journey-article h1 {
  font-size: 52px;
  font-weight: 700;
}
.journey-article p {
  font-size: 16px;
  font-weight: 600;
}
.journey-article a {
  background-color: #e02c6d;
  text-decoration: none;
  padding: 10px 24px;
  top: 16px;
  position: relative;
  border-radius: 50px;
  color: #ffffff;
  text-align: center;
}
.journey-article a:hover {
  background-color: transparent;
  border: 1px solid #3a3a3a;
  color: #3a3a3a;
  font-weight: 600;
}
.right-arrow {
  position: relative;
  padding-left: 10px;
  top: 8px;
  transition: padding-left 1s;
}
.right-arrow:hover {
  padding-left: 48px;
}
/* ------------------------------------------------
influencers logo styles
-----------------------------------------------
 */
.influencers-logo {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(92, 85, 85, 0.197);
  border-bottom: 1px solid rgba(92, 85, 85, 0.197);
}
.logo-item1,.logo-item2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo-item1 img,
.logo-item2 img {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left:40px;
  padding-right: 40px;
}
